## Pandas Series and Data Frame

In [1]:
# import required packages
import numpy as np
import pandas as pd

In [2]:
# pre requisites

import warnings
warnings.filterwarnings(action="ignore")

In [3]:
a1 =[10,20,30,40,50]
print(f"A1 = {a1}    Type ={type(a1)}")

A1 = [10, 20, 30, 40, 50]    Type =<class 'list'>

In [4]:
n_array =np.array([11,22,33,44,55])
print(f"N_ARR = {n_array}    Type ={type(n_array)}")

N_ARR = [11 22 33 44 55]    Type =<class 'numpy.ndarray'>

In [5]:
s_series =pd.Series([90,80,70,60,50])
print(f"S_Series = {s_series}    Type ={type(s_series)}")

S_Series = 0    90
1    80
2    70
3    60
4    50
dtype: int64    Type =<class 'pandas.core.series.Series'>

In [9]:
def function1():
    n_series=pd.Series([10,20,30,40,50,60])
  
    print(f"Type = {type(n_series)}")
    print(f"DType = {n_series.dtype}")
    print(f"Size = {n_series.size}")
    print(f"NDIM = {n_series.ndim}")
    print(f"NBYTES = {n_series.nbytes}")

In [10]:
function1()

Type = <class 'pandas.core.series.Series'>
DType = int64
Size = 6
NDIM = 1
NBYTES = 48

In [12]:
n_series=pd.Series([10,20,30,40,50,60])
print(f"Keys={n_series.keys()}")
print(f"Values ={n_series.values}")

Keys=RangeIndex(start=0, stop=6, step=1)
Values =[10 20 30 40 50 60]

In [14]:
s1=pd.Series([10,20,30,40,50,60])
print(s1)
print(f"S1[2] = {s1[2]}")

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
S1[2] = 30

### Create the Pandas series using dictionary

In [15]:
s1=pd.Series({"Name":"Sujata","org":"Sunbeam","Course":"Python"})
print(s1)

Name       Sujata
org       Sunbeam
Course     Python
dtype: object

In [17]:
students =pd.Series(["s1","s2","s3","s4","s5"])
marks = pd.Series([35,20,25,30,40])
print(students)
print(marks)

0    s1
1    s2
2    s3
3    s4
4    s5
dtype: object
0    35
1    20
2    25
3    30
4    40
dtype: int64

In [18]:
marks = pd.Series([35,20,25,30,40])
students =pd.Series(["s1","s2","s3","s4","s5"],index=marks)
print(students)

35    s1
20    s2
25    s3
30    s4
40    s5
dtype: object

### Create aa dataframe using dictionary

In [19]:
data = {'Name':['n1','n2','n3','n4'],'Age':[23,22,25,24]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

      Name  Age
rank1   n1   23
rank2   n2   22
rank3   n3   25
rank4   n4   24

In [22]:
def function1():
    p1=({"name":"P1","age":25,"id": 1234})
    p2=({"name":"P2","age":23,"id": 5678})
    p3=({"name":"P3","age":24,"id": 9876})

    s1 =pd.Series(p1)
    s2 =pd.Series(p2)
    s3 =pd.Series(p3)

    df=pd.DataFrame([s1,s2,s3])
    print(s1)
    print(s2)
    print(s3)

In [23]:
function1()

name      P1
age       25
id      1234
dtype: object
name      P2
age       23
id      5678
dtype: object
name      P3
age       24
id      9876
dtype: object

In [30]:
def function2():
    p1=({"name":"P1","age":25,"id": 1234})
    p2=({"name":"P2","age":23,"id": 5678})
    p3=({"name":"P3","age":24,"marks":85})

    s1 =pd.Series(p1)
    s2 =pd.Series(p2)
    s3 =pd.Series(p3)

    df=pd.DataFrame([s1,s2,s3])
    print(df)

In [31]:
function2()

  name  age      id  marks
0   P1   25  1234.0    NaN
1   P2   23  5678.0    NaN
2   P3   24     NaN   85.0

In [32]:
def function3():
    salaries = pd.Series([30,35,40,45,50,60,90,80])

    # find the salaries which are above 70k
    print(f"salaries avbvoce 70k = {salaries[salaries>70]}")

In [33]:
function3()

salaries avbvoce 70k = 6    90
7    80
dtype: int64

In [34]:
df=pd.read_csv("50_Startups.csv")
print(df)

          RnD  Administration  Marketing       State     Profit
0   165349.20       136897.80  471784.10    New York  192261.83
1   162597.70       151377.59  443898.53  California  191792.06
2   153441.51       101145.55  407934.54     Florida  191050.39
3   144372.41       118671.85  383199.62    New York  182901.99
4   142107.34        91391.77  366168.42     Florida  166187.94
5   131876.90        99814.71  362861.36    New York  156991.12
6   134615.46       147198.87  127716.82  California  156122.51
7   130298.13       145530.06  323876.68     Florida  155752.60
8   120542.52       148718.95  311613.29    New York  152211.77
9   123334.88       108679.17  304981.62  California  149759.96
10  101913.08       110594.11  229160.95     Florida  146121.95
11  100671.96        91790.61  249744.55  California  144259.40
12   93863.75       127320.38  249839.44     Florida  141585.52
13   91992.39       135495.07  252664.93  California  134307.35
14  119943.24       156547.42  256512.92     Florida  132602.65
15  114523.61       122616.84  261776.23    New York  129917.04
16   78013.11       121597.55  264346.06  California  126992.93
17   94657.16       145077.58  282574.31    New York  125370.37
18   91749.16       114175.79  294919.57     Florida  124266.90
19   86419.70       153514.11       0.00    New York  122776.86
20   76253.86       113867.30  298664.47  California  118474.03
21   78389.47       153773.43  299737.29    New York  111313.02
22   73994.56       122782.75  303319.26     Florida  110352.25
23   67532.53       105751.03  304768.73     Florida  108733.99
24   77044.01        99281.34  140574.81    New York  108552.04
25   64664.71       139553.16  137962.62  California  107404.34
26   75328.87       144135.98  134050.07     Florida  105733.54
27   72107.60       127864.55  353183.81    New York  105008.31
28   66051.52       182645.56  118148.20     Florida  103282.38
29   65605.48       153032.06  107138.38    New York  101004.64
30   61994.48       115641.28   91131.24     Florida   99937.59
31   61136.38       152701.92   88218.23    New York   97483.56
32   63408.86       129219.61   46085.25  California   97427.84
33   55493.95       103057.49  214634.81     Florida   96778.92
34   46426.07       157693.92  210797.67  California   96712.80
35   46014.02        85047.44  205517.64    New York   96479.51
36   28663.76       127056.21  201126.82     Florida   90708.19
37   44069.95        51283.14  197029.42  California   89949.14
38   20229.59        65947.93  185265.10    New York   81229.06
39   38558.51        82982.09  174999.30  California   81005.76
40   28754.33       118546.05  172795.67  California   78239.91
41   27892.92        84710.77  164470.71     Florida   77798.83
42   23640.93        96189.63  148001.11  California   71498.49
43   15505.73       127382.30   35534.17    New York   69758.98
44   22177.74       154806.14   28334.72  California   65200.33
45    1000.23       124153.04    1903.93    New York   64926.08
46    1315.46       115816.21  297114.46     Florida   49490.75
47       0.00       135426.92       0.00  California   42559.73
48     542.05        51743.15       0.00    New York   35673.41
49       0.00       116983.80   45173.06  California   14681.40